
@model List<ProdutoModel>
@{
    ViewData["Title"] = "ListagemProduto";
}



<div class="text-center">
    <h1 style="font-family:Arial, Helvetica, sans-serif">Lista de Produtos</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a asp-action="RegistrarProduto" asp-controller="Produto" role="button" class="btn btn-success">Adicionar Produto</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descricao</th>
                <th scope="col">Preço</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            { var i = 1;
                foreach (var produto in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@produto.Nome</td>
                        <td>@produto.Descricao</td>
                        <td>@produto.Preco</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-action="Editar" asp-route-id="@produto.IdProduto" asp-controller="Produto" role="button" class="btn btn-primary">Editar</a>
                                <a asp-action="ConfirmarDelete" asp-route-id="@produto.IdProduto"  asp-controller="Produto" role="button"
                                    class="btn btn-danger">Deletar</a>
                            </div>
                        </td>
                    </tr>

                    i++;
                }
            }
        </tbody>
    </table>
</div>